.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-control {
    padding-left: 2.375rem;
}

table {
    margin-top: 20px;
}

table td img {
    width: 30px;
    margin-right: 5px;
    display: inline-block;
}

.card {
    margin: 0 15px;
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.1);
    z-index: 10;
}

.loader {
    border: 5px solid #fff;
    border-radius: 50%;
    border-top: 5px solid #dee2e6;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}